@import "tailwindcss";

@theme {
  --color-primary: #5f6fff; 
}


@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  }
}

.active hr {
  @apply block;
}

@media (max-width: 768px) {
  .active p {
    @apply bg-primary text-white;
  }
}

::-webkit-scrollbar {
  display: none; /* Can't use @apply hidden here */
}

